*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
    outline: none;
    
}
::-webkit-scrollbar{
  display: none;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
}
.cont{
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cote_gauche{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 55%;
    min-height: 80vh;
    gap: 17px;
}
.premier_coter{
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    height: 80vh;
    
}
.gestion_sav{
    writing-mode: vertical-rl; /* Indique l'orientation verticale du texte */
    transform: rotate(180deg); /* Inverse le sens de lecture du texte */
    white-space: nowrap; /* Évite que le texte ne soit coupé en plusieurs lignes */
}

.cont_sav{
    width: 100%;
    background-color: #e8e8e8;
    height: 110%;
}
.sav_list{
    border-radius: 10px;
}
.action{
    height: 70vh;
    
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    border-radius: 10px;
    
    
}




.cote_gauche img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
.small_contenair img{
    width: 60px;
    height: 60px;
}


/*cote droite */
.cote_droite{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 25%;
    padding-top: 100px;
    height: 100vh;
    gap: 10px;
    padding-right: 20px;
    overflow: scroll;
    
}
.img-lock{
    width: 30px;
}




  
  

  .btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 35px;
    background-color: #fff;
    width: 200px;
    height: 40px;
    padding: 12px;
    border-radius: 8px;
    border: none;

  }
  .btn:hover{
    background-color: #2169ec;
    color: white;
  }







  footer{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .license_active{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 1%;
    background-image: url(./image/licence\ activé.webp);
    width: 35%;
    height: 100%;
  }
  .license_active h2{
    font-size: 15px;
    color: white;
    font-weight: 200;
  }
  .user_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
    padding-right: 5%;
    padding-left: 2%;
    background-image: url(./image/user_names.webp);
    box-shadow: 0px 0px 4px 1px black;
  }
  .user_name h2{
    font-weight: 400;
    color: white;
    font-size: 17px;
  }
  .delete{
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 8px;
    color: #2169ec;
  }
  .cadena{
    width: 50px;
    height: 40px;
    background-color: #2169ec;
    border: none;
    border-radius: 7px;
    color: white;
    transition: all 0.5s;
  }
  .cadena:hover{
    background-color: white;
    color: #2169ec;
    border: 1px solid #2169ec;
  }


  .ligne1{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .qw{
    margin-bottom: 10%;
  }
  .ligne2{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .loupe{
    width: 30px;
    background-color: #2169ec;
    color: white;
    border: none;
    border-radius: 15px;
  }


  .Plannig_bas{
    padding: 10px;
    flex-direction: column;
    gap: 10px;
  }
  .Plannig{
    font-size: 17px ;
    font-weight: 600;
  }
  .Plannig_ico{
    width: 40px;
    height: 40px;
    background-color: #2169ec;
    color: white;
    border-radius: 8px;
    border: none;
    transition:  all 0.5s;
  }
  .Plannig_ico:hover{
    background-color: white;
    color: #2169ec;
    border: 1px solid #2169ec;
  }


  .b1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    height: 50vh;
  }
  .b2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 10vh;
  }
  .b3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    
  }
  .centre_cote_droit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .centre_cote_droit img{
    width: 100px;
    height: 100px;
  }
  .div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  .croix{
    display: none;
  }
    .menu{
      display: none
      ;
    }
  


    





















        /**************employers*******/
    .ico_emplye{
      width: 20px;
      height: 20px;
    }
    .cont_titre{
      width: 100%;
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
     
    }
    .cont_employer{
      background-color: rgba(0, 0, 0, 0.527);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
    }
    .contenue_employers{
      width: 80%;
      height:670px;
     background: linear-gradient(hsl(208, 45%, 69%), hsl(208, 45%, 69%), white);
      padding: 10px;
      border-radius: 10px;
    }
    .cont_employer2{
     background-color: white;
      width: 100%;
      height: 90%;display: flex;
    }
    .fiche_sala{
      font-size: 15px;
    }
    .list_gauche{
      writing-mode: vertical-rl; /* Indique l'orientation verticale du texte */
    transform: rotate(180deg); /* Inverse le sens de lecture du texte */
    white-space: nowrap; /* Évite que le texte ne soit coupé en plusieurs lignes */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
   background-color: #2169ec;
    }
    .se1{
      writing-mode: vertical-rl; /* Indique l'orientation verticale du texte */
      white-space: nowrap; /* Évite que le texte ne soit coupé en plusieurs lignes */
      display: flex;
      justify-content: space-around;
    }
    .se1 p{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .acti{
      background-color: #fff;
    }
    .option{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 7%;
     
    }
    .option button{
      width: 100px;
      background-color: #2169ec;
      border: none;
      color: white;
      transition: all 0.5s;

    }
    .option button:hover{
      background-color: white ; color: #2169ec; border: 1px solid #2169ec;
    }
    .btn1{
      width: 40px !important;
    }
    .btn2{
      width: 40px !important;
    }
    .econte{
      width: 100%;
     
      display: flex;
      
    }
    .econte1{
     
      width: 100%;
      height: 100%;
      zoom: 79%;
    }
    .econte1 h1{
      width: 100%;
      text-align: center;
      font-size: 25px;
    
      color: white;
      font-weight: 400;
    }
    .econte1 div{
      width: 100%;
      
      padding-left: 5px;
      padding-right: 5px;
      
    }
    .div_1{
      height: auto; 
      
    }
    .div_1 div{
      width: 100%;
    
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
    }
    .div_1 div input{
      width: 250%;
      height: 25px;
      float: right;
    }
    label{
      width: 100%;
    }
    select{
      width: 250%;
    }



    .div_2 {
      font-size: 12px;
    }
   
    .div_2 div div{
      display: flex;
      justify-content: left;

    }
    .div_2 div  input{
      width: 80%;
      height: 25px;
      float: right;
      margin-right: 30%;
      
    }
    .div_2 div div label{
      width: 30%;
    }

    .situation{
      flex-direction: column;
      display: flex;
    }




    .econte2{
    
      width: 100%;
      zoom: 79%;

    }
    .class1{
      width: 100%;
      height: 50%;
   display: flex;
      justify-content: space-between;
      padding: 10px;
    }
    .spec1{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .class2{
      width: 100%;
    }
    .class3{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 50%;
    
    }
    .class4{
   
    }
    .spec2{      
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: left;
      align-items: flex-end;
      padding: 10px;
      gap: 5px;
    }
    .class5{
      width: 100%;
      height: 50%;
     
    }
    .class6{
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
    .class6 button{
      width: 100%;
      height: 25px;
      border: none;
      background-color: white;
      border-radius: 0px;
      transition: all 0.5s;
    }
    .class6 button:hover{
      background-color: crimson !important ;
      color: white;
    }
    .clicked{
      background-color:crimson !important;
      color: white;
    }
    .class7{
      display: flex;
      justify-content: space-between;
      
      width: 100%;
      height: 100%;
    }
    .class8{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 90%;
    }
   .qwe1{
    width: 100%;
    height: 150%;
  
   }
   .qwe2{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
    .ligne{
      width: 100%;
      background-color: #2169ec !important;
      height: 40px;

    }
    .activer{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .class9{
      width: 50%;
      height: 80%;
      
      padding-left: 20px ;
      gap: 12px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
    .class9 div{
      display: flex;
    }
    .opt{
      display: flex;
      flex-direction: column;
    }
    .option_debut{
      width: 140%;
      height: 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    
      padding-left: 20px;
      padding-right: 20px;
    }
    .Option_fin{
      width: 140%;
      height: 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;
     
      padding-left: 20px;
      padding-right: 20px;
    }
    .btn_bas{
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-top: 20px;
    }
    .btn_bas button{
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      height: 35px;
    }

    















    
    





  
  
  
  
    @media (max-width:768px) {
      .cont{
        display: flex;
        height: max-content;
        flex-direction: column;
        padding-top: 100px;
      }
      .cote_droite{      
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding-top: 50px;
        padding-bottom: 50px;
        
      }
      .centre_cote_droit{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px;
        gap: 10px;
      }
      .premier_coter{
        width: 75%;
        height: 100vh;
        display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin-left: -200%;
      transition: all 0.5s;
      }
      .disparait{
        margin-left: 5%;
        top: 100px;
      }
      .menu{
        width: 100%;
        height: 50px ;
        position: absolute;
        top: 20px;
        left: 0;
        background-color: white;
        border: none;
        outline: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 40px;
        
      }
     
      .mbtn{
        width: 100px;
        height: 40px;
        background-color: white;
        border: none;
        transition: all 0.5s;
      }
      .mbtn:hover{
        background-color: #2169ec;
        color:white;
      }
  
      
      .visible{
        display: block
        ;
        width: 20px ;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: red;
        border-radius: 10px;
      }
      .action{
        padding: 50px;
        padding-top: 20px;
      }
    }
    @media (max-width:425px) {
      .premier_coter{
        width: 90%;
      }
      .action{
        padding: 25px;
        padding-top: 50px;
      }      
    }

    
  @media (max-width:320px) and (max-height:568px) {
    .action{
      height: max-content;
    }
    .cont_sav{
      height: 120vh;
    }
  }