*, ::before, ::after {
  box-sizing: border-box;
}
html {
  color-scheme: light;
}
:root {
 /* colors */
  --primary-blue: #238fce;
  --secondary-blue: color-mix(in oklab, var(--primary-blue), black 35%);
  --tertiary-blue: color-mix(in oklab, var(--primary-blue), black);
  --primary-green: #0b9444;
  --secondary-green: color-mix(in oklab, var(--primary-green), black 35%);
  --tertiary-green: color-mix(in oklab, var(--primary-green), black);
  --main-white: #ddf3ff;
  --secondary-white: color-mix(in oklab, var(--main-white), white 85%);
 /* sizes */
  --header-padding: 0.75em;
  --header-height: 8em;
  --svg-width: 350px;
  --icons-gap: 0.5em;
}
body {
  font-family: "Cascadia code", Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100dvh;
}
svg {
  width: var(--svg-width);
}
svg > g {
  fill: var(--secondary-blue);
}
/* Header */
.header {
  --_background: color-mix(in oklab, #1078bd, #fff 60%);
  height: var(--header-height);
  position: sticky;
  top: 10;
  background: linear-gradient(var(--_background), transparent);
  z-index: 1;
}
.header > .logo {
  background: var(--primary-blue);
}
.header > .logo > img {
  width: 15rem;
  position: absolute;
  margin-block: auto;
  margin-left: var(--header-padding);
  inset: 0;
}
.header > .language > * > #lang {
  position: absolute;
  right: var(--header-padding);
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  height: 1.5em;
  font-weight: 600;
  font-family: inherit;
  font-size: large;
  color: #026f3b;
  outline: none;
  border: none;
}
/* Main */
main {
  position: relative;
  height: calc(100% - var(--header-height));
  width: 100%;
  background-color: var(--secondary-white);
}
main > .pictures {
  width: min-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--secondary-green);
  background: var(--primary-blue);
}
main > .pictures > figcaption {
  background-color: var(--main-white);
}
main > .pictures > figcaption > h2 {
  width: 100%;
  font-weight: 900;
  font-size: xx-large;
  text-align: center;
  color: var(--tertiary-green);
  margin-block: calc(var(--header-padding) / 2);
}
main > .pictures > .icons {
  margin-block-start: var(--header-padding);
  padding: var(--header-padding) calc(var(--header-padding) / 2);
  background: var(--main-white);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: var(--icons-gap);
  row-gap: calc(var(--icons-gap) * 2);
}
main > .pictures > .icons > span {
  border: 2px solid var(--tertiary-blue);
  text-align: center;
}
main > .pictures > .icons > span:last-of-type {
  grid-column: span 3;
}
main > .pictures > .icons > span > a {
  text-decoration: none;
  color: initial;
  transition: color 0.25s;
}
main > .pictures > .icons > span self:is(:hover, :focus-within) > a {
  color: var(--primary-blue);
}
main > .func {
  text-transform: capitalize;
  width: 12.5rem;
  height: 3rem;
  display: inline-block;
  text-align: center;
  border: 1px solid var(--tertiary-blue);
  position: absolute;
  font-weight: 700;
  font-size: large;
}
main > .func:hover {
  color: color-mix(in oklab, var(--primary-blue), white);
  background: var(--tertiary-green);
  cursor: pointer;
}
main > .func:nth-of-type(1) {
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
main > .func:nth-of-type(2) {
  top: 20%;
  left: 25%;
  transform: translate(-50%, -50%);
}
main > .func:nth-of-type(3) {
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
}
main > .func:nth-of-type(4) {
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
}
main > .func:nth-of-type(5) {
  top: 80%;
  left: 25%;
  transform: translate(-50%, -50%);
}
main > .func:nth-of-type(6) {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
main > .func:nth-of-type(7) {
  top: 80%;
  left: 75%;
  transform: translate(-50%, -50%);
}
main > .func:nth-of-type(8) {
  top: 60%;
  left: 75%;
  transform: translate(-50%, -50%);
}
main > .func:nth-of-type(9) {
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%);
}
main > .func:nth-of-type(10) {
  top: 20%;
  left: 75%;
  transform: translate(-50%, -50%);
}
